#frame {
    width: 100%;
    height: fit-content;
    min-height: 300px;
    border: 0;
}

.sort {
    margin: auto;
    display: flex;
    justify-content: center;
    color: white;
    width: 90%;
    background-color: black;
}

.sort div {
    display: inline-block;
    margin: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    background-color: gray;
}

#canvasContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#canvas {
    align-self: center;
    background-color: beige;
    width: 80%;
}
